/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main */
/* section business */
section{
  padding: 40px 0;
}
#innovative-business{
  background-color: #f3f5f9;
}
.section-title{
  color: grey;
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}
.container{
  width: 90%;
  height: 100%;
  margin: auto;
}
.sponsors{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.sponsor-img{
  align-content: center;
}
.sponsor-img:not(:last-child){
  margin-right: 20px;
}
.sponsor-img img{
  width: 100%;
}
.stories{
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
}
.stories i{
  vertical-align: middle;
}
/* section deploy */
.deploy-title{
  font-size: 35px;
  text-align: center;
  color: #031b4e;
}
.deploy_par{
  max-width: 70%;
  text-align: center;
  font-size: 20px;
  color: #5b6987;
  margin: 20px auto;
}
.box-deploy{
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: flex-start;
}
.list-deploy{
  flex-basis: 40%;
  align-self: flex-start;
}
ul{
  list-style: none;
}
ul li{
  border-left: 1px solid grey;
  font-size: 25px;
  padding: 10px;
}
ul li a{
  text-decoration: none;
}
/* responsive */
@media screen and (max-width: 992px) {
  .sponsor-img {
    flex-basis: calc(50% - 20px);
    text-align: center;
  }
  .sponsor-img img{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .sponsor-img {
    flex-basis: calc(50% - 20px);
    text-align: center;
  }
  .sponsor-img img{
    width: 50%;
  }
  .section-title{
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .sponsors {
    display: block;
  }
  .sponsor-img {
    text-align: center;
    width: 100%;
  }
  .sponsor-img img{
    width: calc(50% - 20px);
  }
  .section-title{
    font-size: 20px;
  }
}
